<div class="header">
      <div class="header__name">kuruhina
        <div class="header__name-menu">
          <ul class="header__name-menu-ul">
          <li class="header__name-menu-ul-home">
            <%= link_to "HOME", "/", class: "header__name-menu-ul-home-a" %>
          </li>
          <li class="header__name-menu-ul-login">
            <%= link_to "ALUBM", new_blog_path, class: "header__name-menu-ul-login-a"%>
          </li>
          <li class="header__name-menu-ul-birthday">BIRTHDAY</li>
          <li class="header__name-menu-ul-topics">TOPICS</li>
          </ul>
        </div>
      </div>
    </div>