

<div class="show__title">EDIT</div>

<div class="show__image" style="background-image: url(<%= @blog.image %>);">
</div>
  

<div class="form">
  <%= form_with(model: @blog, local: true) do |f|%>
    
    <%= f.text_area :text, placeholder: "COMMENT", class: "form__comment" %>
    <%= f.submit "PUSH ME", class: "update__btn" %>
  <% end %>
</div>
