<%= render "header"%>

<div class="show">
  <div class="show__title">Details</div>
  <div class="show__image" style="background-image: url(<%= @blog.image %>);">
  </div>
  <div class="show__name">
  </div>
  <div class="show__time">
  </div>
  <div class="show__comment">
  </div>
  <div class="show__edit">
  </div>
  <div class="show__destroy">
  </div>
</div>