<div class="game">
 <div class="game__title">GAMELIST</div>
 <div class="game__list">
  <%= link_to "数当てゲーム", new_game_path, class: "number" %>
  <%= link_to "タイピングゲーム", type_games_path, class: "type" %>
  <%= link_to "ストップウォッチ", timer_games_path, class: "type" %>
  <%= link_to "数早押し！！", number_games_path, class: "type" %>
 </div>

</div>