.header {
  width: 100vw;
  height: 80px;
  background-color: white;
  position: fixed;
  top: 0;
  &__name {
    font-size: 50px;
    padding: 0 40px;
    font-family: 'Lilita One';
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    
    &-menu {
      @keyframes typing { from { width: 0; } }
      @keyframes caret { 50% { border-color: transparent; } }
      font-family: monospace; 
      width: 50ch;
      border-right: .08em solid;
      overflow: hidden;
      font-size: 4em;
      white-space: nowrap;
      animation: typing 5s steps(11, end), caret .5s step-end infinite;
      display: flex;
      font-size:30px;
      font-family: 'Gloria Hallelujah', cursive;
      margin-top: 20px;
      &-ul {
        display: flex;
        list-style: none;
        margin-right: 10px;
        &-home {
          margin-right: 50px;
          &-a {
            text-decoration: none;
            color: black;
            transition: .4s;
          }
          &-a:hover {
            background-color: black;
            border-color: black;
            color: #FFF;
          }
        }
        &-login {
          margin-right: 50px;
          &-a {
            text-decoration: none;
            color: black;
            transition: .4s;
          }
          &-a:hover {
            background-color: black;
            border-color: black;
            color: #FFF;
          }
        }
        &-signin {
          margin-right: 50px;
          &-a {
            text-decoration: none;
            color: black;
            transition: .4s;
          }
          &-a:hover {
            background-color: black;
            border-color: black;
            color: #FFF;
          }
        }
        &-post {
          margin-right: 50px;
          text-decoration: none;
          &-a {
            text-decoration: none;
            color: black;
            transition: .4s;
          }
          &-a:hover {
            background-color: black;
            border-color: black;
            color: #FFF;
          }
        }
        &-list {
          margin-right: 50px;
          &-a {
            text-decoration: none;
            color: black;
            transition: .4s;
          }
          &-a:hover {
            background-color: black;
            border-color: black;
            color: #FFF;
          }
        }
        &-signout {
          margin-right: 50px;
          text-decoration: none;
          &-a {
            text-decoration: none;
            color: black;
            transition: .4s;
          }
          &-a:hover {
            background-color: black;
            border-color: black;
            color: #FFF;
          }
        }
        &-topics {
          margin-right: 50px;
          transition: .4s;
          &-a {
            text-decoration: none;
            color: black;
            
          }
        }
        &-topics:hover {
          background-color: black;
          border-color: black;
          color: #FFF;
        }
      }
    }
  }
}