* {
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
}
.main {
  width: 100vw;
  height: calc(100vh - 80px);
  &__image {
    margin: 0 auto;
    padding-top: 20px;
    // width: calc(100vw - 800px);
    // height: calc(100vh - 250px);
    width: 800px;
    height: 500px;
    object-fit: cover;

    &-1 {
      transform: rotate( 90deg );
      width: calc(100vw - 800px);
      height: calc(100vh - 250px);  
      padding: 100px;
    }
    &-2 {
      padding: 100px; 
      width: calc(100vw - 800px);
      height: calc(100vh - 250px);
      transform: rotate( 90deg );
    }
    &-3 {
      padding: 100px;
      transform: rotate( 90deg );
      width: calc(100vw - 800px);
      height: calc(100vh - 250px);
    }
    &-4 {
      padding: 100px;
      transform: rotate( 90deg );
      width: calc(100vw - 800px);
      height: calc(100vh - 250px);
    }  
    &-5 {
      padding: 100px;
      transform: rotate( 90deg );
      width: calc(100vw - 800px);
      height: calc(100vh - 250px);
    } 
  }
  .message {
    font-size: 20px;
    font-family: 'Kosugi Maru', sans-serif;
    margin: 0 auto;
  }
}
