* {
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
}
.main {
  width: 100vw;
  height: calc(100vh - 80px);
  // background-image: url(family.jpeg);
  // // background-size:  cover;   
  &__image {
    margin: 0 auto;
    background-size: cover;
    background-position: center;
    width: 750px;
    height: 550px;
    object-fit: cover;
    margin-top: 60px;

    &-1 {
      transform: rotate( 90deg );
      width: calc(100vw - 800px);
      height: calc(100vh - 250px);  
      padding: 100px;
    }
    &-2 {
      padding: 100px; 
      width: calc(100vw - 800px);
      height: calc(100vh - 250px);
      transform: rotate( 90deg );
    }
    &-3 {
      padding: 100px;
      transform: rotate( 90deg );
      width: calc(100vw - 800px);
      height: calc(100vh - 250px);
    }
    &-4 {
      padding: 100px;
      transform: rotate( 90deg );
      width: calc(100vw - 800px);
      height: calc(100vh - 250px);
    }  
    &-5 {
      padding: 100px;
      transform: rotate( 90deg );
      width: calc(100vw - 800px);
      height: calc(100vh - 250px);
    } 
  }
  .message {
    font-size: 35px;
    font-family: 'Kosugi Maru', sans-serif;
    color: black;
    // margin-left: 200px;
  }
  
}
