.list {
  width: 100vw;
  height: calc(100vh - 80px);
  display: flex;
  flex-wrap:wrap;
  &__post {
    width: 300px;
    height: 300px;
    object-fit: cover;
    margin-right: 5px;
    color: rgb(233, 227, 227);
    &-text {
      font-size: 15px;
      color: rgb(233, 227, 227);
      margin-left: 50px;
      &-time {
        font-size: 10px;
        color: rgb(233, 227, 227);
      }
    }
  }
}