.title {
  margin: 100px 50px 0px 40%;
  font-size: 50px;
  font-family: 'Gloria Hallelujah', cursive;
}

// .name {
//   width: calc(100vw - 300px);
//   height: 60px;
//   font-size: 30px;
//   margin: 50px 50px 50px 100px;
//   font-family: 'M PLUS Rounded 1c';
// }

.image {
  width: calc(100vw - 300px);
  height: 60px;
  margin: 0 50px 50px 100px;
  font-size: 30px;
  font-family: 'M PLUS Rounded 1c';
  position: relative;
  &__label {
    color: black;
    position: absolute;
    &-icon {
      font-size: 200px;
      margin-left: 33%;
      cursor: pointer;
    }
    &-file {
      display: none;
    }
  }
}
.text {
  width: calc(100vw - 300px);
  height: 60px;
  margin: 0 50px 50px 100px;
  font-size: 20px;
  font-family: 'Gloria Hallelujah', cursive;
  
}
.btn {
  display: inline-block;
  width: 400px;
  height: 100px;
  border: 2px solid black;
  font-size: 16px;
  color: black;
  text-decoration: none;
  font-weight: bold;
  padding: 8px 16px;
  border-radius: 4px;
  transition: .4s;
  margin-left: 34%;
  font-family: 'Gloria Hallelujah', cursive;
  cursor: pointer;
  border-radius: 50px;
}
.btn:hover {
  background-color: black;
  border-color: black;
  color: #FFF;
}