.show {
  height: calc(100vh - 80px);
  width: 100vw;
  &__title {
    font-size: 40px;
    margin-left: 45%;
    padding-top: 100px;
    font-family: 'Gloria Hallelujah', cursive;
  }
  &__image {
    width: 1200px;
    height: 1100px;
    // max-width: 100%;
    background-color: blanchedalmond;
    margin: 0 auto;
    margin-top: 40px;
    background-size: cover;
    // background-size: contain;
    background-position: center;
    box-shadow: 10px 10px 10px rgba(0,0,0,0.4);
  }
  &__name {
    width: 150px;
    height: 40px;
    margin: 0 auto;
    margin-top: 30px;
    line-height: 40px;
  }
  &__time {
    width: 200px;
    height: 20px;
    margin: 0 auto;
    margin-top: 10px;
  }
  &__comment {
    width: 400px;
    height: 50px;
    margin: 0 auto;
    margin-top: 10px;
    
  }
  &__btn {
    display: flex;
    justify-content: space-between;
    position: relative;
    bottom: 100px;
    border-radius: 50px;
    
    &-edit {
      &-btn {
        text-decoration: none;
        color: black;
        padding: 30px;
        border: 1px solid black;
        transition: .4s;
        font-family: 'Gloria Hallelujah', cursive;
        border-radius: 50px
      }
      &-btn:hover {
        background-color: black;
        border-color: black;
        color: #FFF;
      }
    }

    &-destroy {
      &-btn {
        text-decoration: none;
        color: black;
        padding: 30px;
        border: 1px solid black;
        transition: .4s;
        font-family: 'Gloria Hallelujah', cursive;
        border-radius: 50px;
      }
      &-btn:hover {
        background-color: black;
        border-color: black;
        color: #FFF;
        
      }
    }
  }
  .containar {
    width: 100%;
    #comment_text {
      width: 500px;
      height: 50px;
      margin-left: 32%;
      font-size: 25px;
      font-family: 'Gloria Hallelujah', cursive;
    }
    .tweet {
      margin-left: 34%;
    }
    #blog_tweet {
      width: 1000px;
      height: 50px;
      margin-left: 230px;
      font-size: 30px;
    }
  }
    .comment-btn {
      text-decoration: none;
        color: black;
        padding: 30px;
        border: 1px solid black;
        transition: .4s;
        margin-left: 44%;
        margin-top: 20px;
        font-family: 'Gloria Hallelujah', cursive;
        border-radius: 50px;
    }
    .comment-btn:hover {
      background-color: black;
      border-color: black;
      color: #FFF;
      cursor: pointer ;
    }
    .comments {
      width: 700px;
      height: 170px;
      overflow: scroll;
      border: 1px solid;
      margin-left: 25%;
      margin-top: 30px;
      font-size: 30px;

      .comment__title {
        margin-left: 32%;
        font-size: 30px;
        font-family: 'Gloria Hallelujah', cursive;
      }
    }
}