.show {
  height: calc(100vh - 80px);
  width: 100vw;
  &__title {
    font-size: 40px;
    margin-left: 45%;
  }
  &__image {
    width: 800px;
    height: 400px;
    background-color: blanchedalmond;
    margin: 0 auto;
    margin-top: 40px;
    background-size: cover;
    background-position: center;
  }
  &__name {
    width: 150px;
    height: 40px;
    margin: 0 auto;
    margin-top: 30px;
    line-height: 40px;
  }
  &__time {
    width: 150px;
    height: 20px;
    margin: 0 auto;
    margin-top: 10px;
  }
  &__comment {
    width: 200px;
    height: 50px;
    margin: 0 auto;
    margin-top: 10px;
  }
  &__btn {
    display: flex;
    justify-content: space-between;
    &-edit {
      &-btn {
        text-decoration: none;
        color: black;
        padding: 30px;
        border: 1px solid black;
        transition: .4s;
      }
      &-btn:hover {
        background-color: black;
        border-color: black;
        color: #FFF;
      }
    }

    &-destroy {
      &-btn {
        text-decoration: none;
        color: black;
        padding: 30px;
        border: 1px solid black;
        transition: .4s;
      }
      &-btn:hover {
        background-color: black;
        border-color: black;
        color: #FFF;
        
      }
    }
  }
}