#target {
  text-align: center;
  margin-top: 250px;
  font-size: 100px;
  letter-spacing: 3px;
  font-family: 'Source Code Pro', monospace;
  cursor: pointer;
}
.info {
  color: #ccc;
  text-align: center;
  margin-top: 30px;
}